body {
    margin: 0;
    padding: 0;
    background: url(Imagenes/bac_ff.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compra-contenedor {
    width: 80%;
    max-height: 200%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
}

.Heading {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #2f3841;
}

.accion {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: red;
    cursor: pointer;
}

.items_carro {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor_imagen {
    width: 15%;
    text-align: center;
}

.descripcion {
    max-height: 100%;
}

.titulo {
    padding-top: 5px;
    line-height: 10px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: #202020;
}

.contador {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton_agr {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: black;
    cursor: pointer;
}

.conteo {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: black;
}

.precio {
    max-height: 100%;
    text-align: right;
}

.cantidad {
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: black;
}

.quitar {
    padding-top: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: red;
    cursor: pointer;
}

hr {
    width: 66%;
    float: right;
    margin-right: 5%;
}

.terminar_compra {
    float: right;
    margin-right: 5%;
    width: 28%;
}

.total {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.subtotal {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: black;
}

.items_total {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #909090;
    line-height: 15px;
}

.precio_final {
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: black;
}

.checkout {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: black;
}
